@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/font" as *;
@use "../abstracts/flexbox" as *;
@use "../utilities/border" as *;
@use "../abstracts/size" as *;
@use "../abstracts/transition" as *;
@use "../abstracts/position" as *;

.blogs {
  &-section {
    padding: 40px 0;
    position: relative;
    display: block;
    width: 100%;
    background-color: theme-color("yellow-200");
  }

  &__card {
    background-color: transparent;
    border: none;

    &-image {
      position: relative;
      aspect-ratio: 16/10;

      img {
        @include set-position(absolute, 0, 0, 0, 0);
        @include size(100%);
        object-fit: cover;
        object-position: center;
        @include transition(all, 0.5s, ease-in);
      }
    }

    &-body {
      padding: 20px 22px;
    }

    &-link {
      color: theme-color("black");
      text-decoration: none;
      display: block;
      position: relative;
      margin-bottom: 10px;
      @include transition(all, 0.3s);

      h3 {
        @include font(23px, 700, 150%, 0.78px);
      }
    }
  }

  &__link-btn {
    @include flexbox(row, flex-end, center, wrap);
    text-underline-offset: 0.3rem;
    background-image: linear-gradient(
      transparent calc(100% - 1px),
      currentColor 5px
    );
    background-size: 0;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 0.3rem;
    transition: all 0.4s ease, text-decoration 0s ease;
    color: theme-color("black");
  }
}
