@use "../utilities/border" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/flexbox" as *;
@use "../abstracts/size" as *;
@use "../abstracts/variables" as *;

/* Header Style */

.main-header {
  position: relative;
  display: block;
  width: 100%;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background: none;
  clear: both;

  .logo {
    img {
      max-height: 60px;
    }
  }
}

/* Header Top */
.header-top {
  position: relative;
  background-color: #212121;
  padding: 2px 0;
}

.header-top .inner-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.header-top .left-column {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-top .right-column {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-top .location {
  position: relative;
  margin-right: 30px;
}

.header-top .location:before {
  position: absolute;
  right: -3px;
  top: 50%;
  content: "";
  height: 22px;
  width: 1px;
  transform: translateY(-50%);
}

.header-top .location form {
  display: inline-block;
}

.header-top button.btn.dropdown-toggle {
  background: transparent;
  color: #a3a3a3;
  border: none;
  padding-left: 0;
  font-size: 18px;
  font-weight: 400;
}

.header-top .btn-light:not(:disabled):not(.disabled).active,
.header-top .btn-light:not(:disabled):not(.disabled):active,
.header-top .show > .btn-light.dropdown-toggle {
  color: #fff;
}

.header-top .bootstrap-select .dropdown-toggle:focus,
.header-top .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
  box-shadow: none;
}

.header-top
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(
    .input-group-btn
  ) {
  width: auto;
  min-width: 125px;
}

.header-top .contact-info {
  position: relative;
}

.header-top .contact-info li {
  position: relative;
  padding-right: 38px;
  display: inline-block;
  color: #a3a3a3;
}

.header-top .contact-info li:last-child {
  padding-right: 0;
}

.header-top .contact-info li:before {
  position: absolute;
  content: "";
  right: 5px;
  top: 13px;
  width: 24px;
  height: 1px;
  background-color: #474747;
}

.header-top .contact-info li:last-child:before {
  display: none;
}

.header-top .contact-info li a {
  position: relative;
  color: #a3a3a3;
}

.header-top .contact-info li a i {
  margin-right: 10px;
  font-size: 16px;
}

.header-top .right-column:before {
  position: absolute;
  content: "";
  left: 0;
  top: -13px;
  bottom: -13px;
  width: 3000%;
  background-color: $color-primary;
}

.header-top .social-links {
  position: relative;
  margin-left: 25px;
  padding-right: 25px;
  margin-right: 25px;
}

.header-top .social-links li {
  display: inline-block;
  margin-right: 20px;
}

.header-top .social-links li:last-child {
  margin-right: 0;
}

.header-top .social-links a {
  color: #212121;
  transition: 0.5s;
  font-size: 16px;
}

.header-top .social-links:before {
  position: absolute;
  content: "";
  right: 0;
  top: 4px;
  width: 1px;
  height: 20px;
  background-color: rgb(33 33 33 / 32%);
}

.header-top .get-quote-btn a {
  color: #212121;
  position: relative;
  font-weight: 500;
  padding-right: 23px;
}

.header-top .get-quote-btn a:before {
  font-family: "FontAwesome";
  content: "\f0da";
  position: absolute;
  right: 0;
  top: -4px;
  display: block;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  z-index: 5;
  font-weight: 400;
  color: #212121;
}
