/* Main menu */
.main-header .nav-outer .main-menu {
  position: relative;
}

.main-menu .inner-container {
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: -25px;
  background: #fff;
}

.main-menu .inner-container .nav-outer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-menu .navbar-collapse {
  padding: 0px;
  display: block !important;
}

.main-menu .navigation {
  position: relative;
  margin: 0px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu .navigation > li {
  position: relative;
  padding: 32px 0px;
  margin-right: 20px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li:before {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 0;
  top: 34px;
  display: block;
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  z-index: 5;
  opacity: 0;
}

.main-menu .navigation > li.dropdown:before {
  opacity: 1;
}

.main-menu .navigation > li:last-child {
  margin-right: 0px;
}

.main-menu .navigation > li > a {
  position: relative;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
  color: #212121;
  padding: 3px 0px;
  opacity: 1;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li > ul {
  position: absolute;
  left: 0px;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 240px;
  z-index: 100;
//   display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #fff;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation>li.dropdown {
    padding-right: 20px;
}

.main-menu .navigation>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 300ms 
ease;
    transition: all 300ms 
ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 500ms 
ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.main-menu .navigation > li > ul.from-right {
  left: auto;
  right: 0px;
}

.main-menu .navigation > li > ul > li {
  position: relative;
  width: 100%;
}

.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0px;
  width: 0%;
  height: 100%;
  display: block;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-menu .navigation > li > ul > li > a {
  position: relative;
  display: block;
  padding: 14px 30px;
  border-bottom: 1px solid #e3e3e3;
  line-height: 24px;
  font-weight: 400;
  font-size: 17px;
  text-transform: capitalize;
  color: #4b4b4b;
  text-align: left;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li:last-child > a {
  border-bottom: 0px;
}

.main-menu .navigation > li > ul > li > a:hover {
  color: #212121;
  font-weight: 500;
  padding-left: 42px;
}

.main-menu .navigation > li > ul > li > a:before {
  position: absolute;
  content: "\f0da";
  left: 30px;
  top: 13px;
  display: block;
  line-height: 24px;
  font-size: 17px;
  font-family: "FontAwesome";
  font-weight: 400;
//   transform: rotate(-90deg);
  font-size: 11px;
  transition: 0.5s;
  opacity: 0;
}

.main-menu .navigation > li > ul > li > a:hover:before {
  opacity: 1;
}

.main-menu .navigation > li > ul > li.dropdown > a:after {
  position: absolute;
  content: "\f105";
  right: 30px;
  top: 13px;
  display: block;
  line-height: 24px;
  font-size: 17px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  left: 105%;
  top: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 240px;
  z-index: 100;
  display: none;
  background-color: #fff;
  transition: 0.5s;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}

.main-menu .navigation > li > ul > li > ul.from-right {
  left: auto;
  right: 0px;
}

.main-menu .navigation > li > ul > li > ul > li {
  position: relative;
  width: 100%;
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 0%;
  height: 100%;
  display: block;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a {
  position: relative;
  display: block;
  padding: 14px 30px;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1px solid #e3e3e3;
  font-size: 17px;
  text-transform: capitalize;
  color: #4b4b4b;
  text-align: left;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:last-child > a {
  border-bottom: 0;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: #212121;
  font-weight: 500;
  padding-left: 42px;
}

.main-menu .navigation > li > ul > li > ul > li > a:before {
  position: absolute;
  content: "\f120";
  left: 30px;
  top: 13px;
  display: block;
  line-height: 24px;
  font-size: 17px;
  font-family: "Flaticon";
  font-weight: 400;
  transform: rotate(-90deg);
  font-size: 11px;
  transition: 0.5s;
  opacity: 0;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover:before {
  opacity: 1;
}

.main-menu .navigation > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 34px;
  height: 30px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  display: none;
}


