/* Header Upper */

.main-header .header-upper {
  position: relative;
}

.main-header .header-upper .inner-container {
  position: relative;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-header .header-upper .logo-box {
  z-index: 10;
}

.main-header .header-upper .logo-box .logo {
  position: relative;
  display: block;
  padding: 18px 0px;
}

.main-header .header-upper .right-column {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header .header-upper .search-btn {
  margin-left: 35px;
  padding-left: 20px;
  line-height: 20px;
  border-left: 1px solid #919191;
  margin-right: 20px;
}

.main-header .header-upper .link-btn a {
  vertical-align: middle;
}

.main-header .header-upper .search-toggler {
  color: #8b8b8b;
  background: transparent;
  font-size: 23px;
  margin-right: 17px;
  padding-left: 20px;
  position: relative;
}

.main-header .header-upper .search-toggler:before {
  position: absolute;
  content: "";
  top: -3px;
  left: 0;
  width: 1px;
  height: 48px;
  background-color: #ddd;
}

.main-header .nav-outer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

navbar-right-info .mobile-nav-toggler {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.navbar-right-info .shopping-cart {
  position: relative;
  padding-left: 17px;
  margin-right: 15px;
  color: #8b8b8b;
}

.navbar-right-info .shopping-cart:before {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  width: 1px;
  height: 24px;
  background-color: #ddd;
}

.navbar-right-info .shopping-cart .count {
  display: inline-block;
  position: relative;
  right: 2px;
  top: -6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
}

.navbar-right-info .language {
  position: relative;
  padding-left: 5px;
}

.navbar-right-info .language:before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 1px;
  height: 24px;
  background-color: #ddd;
}

.navbar-right-info .side-menu-nav {
  position: relative;
  padding-left: 10px;
}

.navbar-right-info .side-menu-nav:before {
  position: absolute;
  content: "";
  top: -10px;
  left: -11px;
  width: 1px;
  height: 48px;
  background-color: #ddd;
}

.navbar-right-info .side-menu-nav img {
  cursor: pointer;
}
