/* News Section style two */

.news-section.style-two .news-block .overlay-two {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(1 25 64 / 0.9);
}

.news-section.style-two .owl-theme .owl-nav {
  position: absolute;
  top: -81px;
  right: 15px;
  margin: 0 auto;
  display: block;
  width: 250px;
  height: 52px;
}

.news-section.style-two .owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(1 25 64);
  height: 50px;
  width: 120px;
  border: none;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  line-height: 70px;
  font-size: 0px;
  opacity: 1;
  margin-top: -25px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-section.style-two .owl-theme .owl-nav .owl-prev:after {
  font-family: "Flaticon";
  content: "\f13a";
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 15px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-section.style-two .owl-theme .owl-nav .owl-prev:before {
  content: "Prev";
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 48px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-section.style-two .owl-theme .owl-nav .owl-prev:hover:after {
  margin-left: 0;
}

.news-section.style-two .owl-theme .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(1 25 64);
  height: 50px;
  width: 120px;
  border: none;
  text-align: center;
  line-height: 50px;
  color: rgba(0, 0, 0, 0);
  font-size: 0px;
  opacity: 1;
  margin-top: -25px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-section.style-two .owl-theme .owl-nav .owl-next:after {
  font-family: "Flaticon";
  content: "\f13a";
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: 18px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  transform: rotate(180deg);
}

.news-section.style-two .owl-theme .owl-nav .owl-next:before {
  content: "Next";
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 20px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-section.style-two .owl-theme .owl-nav .owl-next:hover:after {
  margin-right: 0;
}

.news-section.style-two .owl-theme .owl-nav .owl-prev:hover:after,
.news-section.style-two .owl-theme .owl-nav .owl-next:hover:after {
  opacity: 1;
}

.news-section.style-two .owl-theme .owl-nav .owl-prev:hover,
.news-section.style-two .owl-theme .owl-nav .owl-next:hover {
  opacity: 1;
}

.news-section {
  position: relative;
  padding: 120px 0 90px;
}

/* News block */
.news-block {
  position: relative;
}

.news-block .inner-box {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.news-block .image {
  position: relative;
  overflow: hidden;
}

.news-block .image img {
  transition: 0.5s;
  width: 100%;
}

.news-block .overlay-two {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-color: rgb(247 194 17 / 95%);
  opacity: 0;
}

.news-block .inner-box:hover .overlay-two {
  opacity: 1;
}

.news-block .overlay-two a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  color: #212121;
  display: inline-block;
  font-size: 22px;
  border-radius: 50%;
  margin: 0 5px;
  transition: 0.5s;
}

.news-block .overlay-two span {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.news-block .inner-box:hover .overlay-two span {
  transform: rotate(360deg);
}

.news-block .date {
  position: absolute;
  right: 30px;
  top: 0;
  width: 70px;
  height: 100px;
  text-align: center;
  padding: 23px 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  z-index: 9;
}

.news-block .date span {
  font-size: 24px;
}

.news-block .lower-content {
  position: relative;
  padding: 0 30px;
  padding-top: 25px;
}

.news-block .category {
  font-size: 14px;
  margin-bottom: 11px;
  text-transform: uppercase;
  font-weight: 500;
}

.news-block .category i {
  margin-right: 5px;
  margin-left: 5px;
}

.news-block h3 {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 15px;
}

.news-block h3 a {
  color: #2a2a2a;
  transition: 0.5s;
}

.news-block .post-meta {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  border-top: 1px solid #e3e3e3;
  padding-top: 15px;
}

.news-block .post-meta li {
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
}

.news-block .post-meta li:before {
  position: absolute;
  content: "";
  right: 0;
  top: 6px;
  width: 1px;
  height: 15px;
  background-color: #e0dbd5;
}

.news-block .post-meta li a {
  position: relative;
  font-size: 17px;
  color: #a0a0a0;
}

.news-block .post-meta li a i {
  margin-right: 8px;
}

.news-block .bottom-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news-block .social-links-wrapper {
  position: relative;
  width: 60px;
  z-index: 9;
}

.news-block .social-links-wrapper .icon {
  position: relative;
  width: 60px;
  text-align: center;
  color: #a0a0a0;
  font-size: 17px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.news-block .social-links-wrapper .icon span {
  margin-right: 5px;
  font-size: 14px;
}

.news-block .social-links {
  position: absolute;
  right: 60px;
  top: -5px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  padding-right: 10px;
}

.news-block .social-links-wrapper:hover .social-links {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.news-block .social-links li {
  display: inline-block;
  margin-left: 0px;
}

.news-block .social-links li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 13px;
  color: #838d9e;
  display: inline-block;
  background: #f0ece5;
  border-radius: 50%;
}

.news-block .social-links li a:hover {
  color: #fff;
}

.news-block .post-share-btn {
  position: absolute;
  right: 30px;
  bottom: 0;
}

.news-block .link-box .theme-btn {
  background-color: #293e9c;
  padding: 13.5px 25px;
}

.news-block .link-box .theme-btn:hover i {
  color: #fff;
}
