@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/flexbox" as *;

// ------------------------------------
// Typography Settings
// ------------------------------------

// Base font family and fallback
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// Body font settings
body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text;
  background-color: $color-body-bg;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin-bottom: spacer(1);
  // color: vars.$color-heading;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

// Paragraphs
p {
  margin-bottom: spacer(2);
  font-size: 1rem;
  line-height: 1.6;
}

// Links
a {
  color: theme-color("primary");
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: theme-color("primary-dark");
    text-decoration: underline;
  }
}

// Small text
small {
  font-size: 0.875rem;
  // color: $color-muted;
}

// Blockquotes
blockquote {
  font-style: italic;
  // color: $color-muted;
  border-left: 4px solid theme-color("primary");
  padding-left: spacer(2);
  margin: spacer(2) 0;
}

%link {
  text-underline-offset: 0.3rem;
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    currentColor 5px
  );
  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 0.3rem;
  transition: all 0.4s ease, text-decoration 0s ease;

  &:hover {
    background-image: linear-gradient(
      transparent calc(100% - 1px),
      currentColor 5px
    );
    background-size: 100%;
  }
}

.swiper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-primary !important;
  }
}
