@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/font" as *;
@use "../abstracts/flexbox" as *;
@use "../utilities/border" as *;
@use "../abstracts/size" as *;
@use "../abstracts/transition" as *;

.background {
  &-section {
    background-color: theme-color("primary");
    padding: 64px 0;
    position: relative;
    display: block;
    width: 100%;
    color: theme-color("white");

    h2 {
      @include font(68px, 600, 150%, normal);
      position: relative;
      display: block;
      text-align: center;

      @media (max-width: 479.98px) {
        font-size: 40px;
      }
    }

    p {
      @include font(17px, 400, 150%, 0.57px);
      position: relative;
      display: block;
      text-align: center;
      max-width: 740px;
      margin-inline: auto;
      margin-top: 0;
      color: rgba(255, 244, 220, 0.75);
    }

    .swiper {
      width: 100%;

      &__buttons {
        position: relative;
        @include flexbox(row, flex-start, flex-start, wrap);
        gap: 1rem;
        margin-top: 2rem;
      }

      &-button-prev,
      &-button-next {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin: 0;
        @include size(auto);
        padding: 0;
        // @include size(44px);
        // @include inline-flexbox(row, center, center);
        color: theme-color("white");
        // background-color: theme-color("black");

        svg {
          @include size(32px);
        }

        &:after {
          display: none;
        }
      }

      &-button-prev {
        svg {
          rotate: 180deg;
        }
      }
    }
  }

  &__wrap {
    @include flexbox(column, flex-start, center, wrap);
    gap: 32px;
  }

  &__card {
    text-align: center;
    @include flexbox(column, flex-start, center, wrap);
    gap: 20px;

    &-image {
      @include max-size(185px);
      @include size(100%);
      @include flexbox(row, center, center, wrap);

      img {
        @include size(100%);
        object-fit: cover;
        object-position: center;
      }
    }

    &-body {
      h3 {
        @include font(35px, 500, 150%, normal);
        margin-bottom: 10px;
      }

      p {
        @include font(17px, 400, 150%, normal);
        margin: 0;
        color: rgba(255, 244, 220, 0.75);
      }
    }
  }
}
