.clients-swiper {
  .swiper-wrapper {
    align-items: center;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }
  .swiper-slide {
    img {
      //   width: 100%;
      height: 100%;
      //   object-fit: cover;
      max-height: 90px;
    }
  }
}
