/* Contact Form Section */

.contact-form-section {
  position: relative;
  padding: 120px 0 90px;
  background-color: #f8f8f8;
}

.contact-form-section .wrapper-box {
  position: relative;
  padding: 60px;
  padding-bottom: 30px;
  box-shadow: 0 0 20px rgb(0 0 0 / 0.05);
  background-color: #fff;
  margin-bottom: 30px;
}

.contact-form {
  position: relative;
}

.contact-form .form-group {
  position: relative;
  background: #f8f8f8;
  padding: 13px 20px;
  margin-bottom: 30px;
}

.contact-form label {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
}

label.error {
  color: red;
  font-size: 14px;
  margin-bottom: 25px;
  display: block;
  margin-top: -20px;
}

.contact-form input {
  position: relative;
  background: transparent;
  width: 100%;
  color: #8b8b8b;
  box-shadow: none;
  border: none;
  outline: none;
}

.contact-form textarea {
  position: relative;
  background: transparent;
  width: 100%;
  color: #8b8b8b;
  height: 159px;
  box-shadow: none;
  border: none;
  outline: none;
}

.contact-form .bootstrap-select > .dropdown-toggle {
  width: 100% !important;
  display: block;
  padding: 0;
  color: #8b8b8b;
  font-size: 17px;
}

.contact-form
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(
    .input-group-btn
  ) {
  width: 100%;
}

.contact-form .bootstrap-select .dropdown-toggle .filter-option:after {
  font-size: 11px;
  color: #212121;
  top: -16px;
}

.contact-form .bootstrap-select > .dropdown-toggle:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}

.contact-form .bootstrap-select > .dropdown-toggle,
.contact-form .bootstrap-select > .dropdown-toggle:hover {
  background: transparent;
  border: 0;
}

.contact-form .form-group .form-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.contact-form .form-group .form-btn button {
  box-shadow: none;
  border: none;
  outline: none;
}

/* contact form section style four */

.contact-form-section.style-four .contact-info .icon-box {
  position: relative;
  padding: 22px 0 21px;
  padding-left: 88px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 25px;
}

.contact-form-section.style-four .contact-info .icon-box:before {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 0;
  right: 0;
  transition: 0.5s;
  opacity: 0;
}

.contact-form-section.style-four .contact-info .icon-box:hover:before {
  height: 6px;
  opacity: 1;
}

.contact-form-section.style-four .contact-info .icon-box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 43px;
  transform: translateY(-50%);
}

.contact-form-section.style-four .contact-info .icon-box h4 {
  font-size: 24px;
  font-weight: 600;
}

.contact-form-section.style-four .contact-info .icon-box .text {
  margin-bottom: 0;
}

.contact-form-section.style-four .contact-info .icon-box .text a {
  color: #4b4b4b;
}

/* contact form section style four */

.contact-form-section.style-four .contact-info .icon-box {
  position: relative;
  padding: 22px 0 21px;
  padding-left: 88px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 25px;
}

.contact-form-section.style-four .contact-info .icon-box:before {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 0;
  right: 0;
  transition: 0.5s;
  opacity: 0;
}

.contact-form-section.style-four .contact-info .icon-box:hover:before {
  height: 6px;
  opacity: 1;
}

.contact-form-section.style-four .contact-info .icon-box h4 {
  font-size: 24px;
  font-weight: 600;
}

.contact-form-section.style-four .contact-info .icon-box .text {
  margin-bottom: 0;
}

.contact-form-section.style-four .contact-info .icon-box .text a {
  color: #4b4b4b;
}

.contact-form-section.style-four .office-address {
  position: relative;
  margin-bottom: 40px;
}

.contact-form-section.style-four .office-address .icon-box {
  position: relative;
  padding-left: 80px;
  margin-bottom: 25px;
}

.contact-form-section.style-four .office-address .icon-box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 26px;
}

.contact-form-section.style-four .office-address .icon-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-form-section.style-four .office-address .icon-box .text {
  font-size: 20px;
}
