@use "../abstracts/variables" as *;

/* cta style two */

.cta-section.style-two {
  background: transparent;
  padding: 0;
  z-index: 9;

  h2 {
    color: $color-white;
  }
}

.cta-section.style-two .link-btn .theme-btn {
  margin: 0 1px;
  background-color: $color-white;
}

.cta-section.style-two .wrapper-box {
  padding: 49.5px 50px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  background-color: $color-primary;
}

.cta-section.style-two:before {
  opacity: 0;
}

.cta-section.style-two h2 i {
  font-size: 40px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 43px;
  margin-right: 6px;
}

.theme-btn.style-five {
  color: #fff;
  padding: 16px 46px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.theme-btn.style-five:hover {
  border-color: #212121;
}
