@forward "./navigation";
@forward "./hero";
@forward "./marquee";
@forward "./product";
@forward "./collection";
@forward "./product-details";
@forward "./shop";
@forward "./testimonial";
@forward "./background";
@forward "./blogs";
@forward "./two-image-with-content";
@forward "./full-video";
@forward "./grid";
@forward "./footer";

// New added
@forward "./colors";
@forward "./header";
@forward "./main-header";
@forward "./main-menu";
@forward "./scroll";
@forward "./header-upper";
@forward "./search-popup";
@forward "./sticky-header";
@forward "./mobile-menu";
@forward "./hidden-sidebar";
@forward "./cursor-style";
@forward "./banner";
@forward "./about";
@forward "./feature-section";
@forward "./fact";
@forward "./service";
@forward "./project";
@forward "./why-choose";
@forward "./news-section";
@forward "./cta-theme";
@forward "./service-details";
@forward "./page-title";
@forward "./contact";
@forward "./client-swiper";
@forward "./certification";