/** page-title **/

.page-title {
  position: relative;
  background-color: #646464;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-title .content-box {
  position: relative;
  padding: 67px 0px;
}

.page-title .content-box h1 {
  position: relative;
  display: block;
  font-size: 46px;
  line-height: 55px;
  color: #fff;
  font-weight: 600;
  font-family: "Heebo", sans-serif;
}

.page-title .content-box .bread-crumb {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.page-title .content-box .bread-crumb li {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding-right: 20px;
  margin-right: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.page-title .content-box .bread-crumb li a {
  color: #fff;
}

.page-title .content-box .bread-crumb li a:hover {
  text-decoration: underline;
}

.page-title .content-box .bread-crumb li:last-child {
  padding: 0px;
  margin: 0px;
}

.page-title .content-box .bread-crumb li:after {
  position: absolute;
  content: "\f105";
  font-family: FontAwesome;
  top: 0;
  right: -3px;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}

.page-title .content-box .bread-crumb li:last-child:after {
  display: none;
}

.page-title .background-text {
  position: absolute;
  right: -210px;
  bottom: 116px;
  z-index: 99;
  text-transform: uppercase;
  font-size: 190px;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 200px;
  color: rgb(255 255 255 / 0.1);
  transform: rotate(-31deg);
}

.page-title .background-text .text-2 {
  position: absolute;
  top: -5px;
  left: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255 255 255 / 0.2);
  color: transparent;
}
